compartment_id: {{oci.compartment}}
user_id: {{oci.user}}
fingerprint: {{oci.fingerprint}}
tenancy_id: {{oci.tenancy}}
region: {{oci.region}}
availability_domain: {{oci.AD}}

oracle_linux_version: '7.6'
shape: 'VM.Standard2.1'

subnet_id: {{oci.subnet}}
ocic_oci_sig_par: {{oci.sigpar}}

opc_profile_endpoint: {{classic.c_endpoint}}
opc_password: {{classic.password}}
container: {{classic.container}}/{{classic.user}}
# number of attachments slots on ctls instance to be used for volume migration (maximum is 8)
workerThreadCount: 10 # The number of worker threads working on volume migrations
targetControllerAvailableStorageInGB: 2048

instances:
{% for host in source_servers %}
  - { name: "{{hostvars[host].inventory_hostname}}/complete_name", os: "linux/windows", osKernelVersion: "4.1.12/6.3.9600", osSku: "Server 2012 R2 Standard", attached_only: "false", shutdown_policy: "ignore", specified_volumes_only: [] }
{% endfor %}  